div
{
    Color: blue;
    background: #28ff3a;
    text-align: center;
}

#one
{
    color:red;
    background-color: yellow;
    font-family: Serif;
    font-size: 50px;
}

p
{
    color: orange;
    font-family: Futura;
    font-size 100000px;
}
