body
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: background 10.0s
}

div
{
    Color: blue;
    background: #28ff3a;
    text-align: center;
}

#one
{
    color:red;
    background-color: yellow;
    font-family: Serif;
    font-size: 50px;
}

p
{
    color: orange;
    font-family: Futura;
    font-size: 100px;
}
h1
 {
     color: azure;
     font-family: Futura;
     font-size: 100px;
 }

canvas
{
    width: 1000px;
    height: 500px;
}
